@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
}

body{
  background: linear-gradient(0deg, rgba(29,41,60,1) 25%, rgba(34,39,40,1) 51%, rgba(39,39,39,1) 76%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.skeleton{
  animation: skele
}
